* {margin: 0; padding:0;}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	background-color: #222831;
	font-family: 'Poppins', sans-serif;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.header {
	background-color: rgba(34, 40, 49, .6);
	border-style: none none solid none;
	border-width: 1px;
	border-color: #373c44;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	backdrop-filter: blur(10px);
}

.header-section {
	display: flex;
	align-items: center;
	margin: 0% 8%;
}

.header-item {
	display: inline-grid;
	padding: 50px 24px;
	font-size: 18px;
	font-weight: 400;
}

.header-logo {
	font-weight: 700;
	position: absolute;
	left: 10%;
}

.header-button a {
	transition: color ease .5s;
}

.header-button a:hover {
	color: #00adb5;
}

.scroll-arrow {
	position: fixed;
	left: 7%;
	bottom: 7%;
	backdrop-filter: blur(10px);
}

.hero-title {
	position: absolute;
	left: 10%;
	top: 320px;
	font-size: 360%;
}

.dev {
	position: inherit;
	line-height: 50px;
}

.hireme-button a {
	font-weight: 700;
	font-size: 20px;
	border-radius: 30px;
	padding:14px;
	background-color:#00adb5;
	color:#FFFFFF;
	transition: box-shadow ease 0.5s;
}

.hireme-button a:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
}

.hireme-button {
	margin-top: 30px;
	margin-left: 10px;
}

.hero-arrow {
	position: relative;
	right: 14%;
	top: -240px;
	width: 10%;
}

.hero-doodles {
	position: absolute;
	right: calc(6% - 40px);
	top: 170px;
	width: 734px;
}

.roblox-hero-logo {
	position: absolute;
	right: calc(6% - 40px);
	top: 170px;
	width: 734px;
	height: 734px;
}

.hr1 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 1000px;
	width: 100%;
	border-color: #373c44;
}

.hr2 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 2000px;
	width: 100%;
	border-color: #373c44;
}

.about-me {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	position: absolute;
	top: 1000px;
	left: 10%;
	color: white;
}

.about-me h1 {
	display: flex;
}

.about-me-text {
	color: rgba(238, 238, 238, 0.75);
	font-size: 20px;
	margin-top: 5%;
	width: 700px;
}

.skills {
	display: flex;
	position: absolute;
	top: 550px;
	margin-right: 5%;
}

.skills p {
	width: 200px;
	padding: 10px;
	font-weight: 400;
	font-size: 24px;
}

.skills div {
	padding: 4px;
	margin-right: 20%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.about-me-doodles {
	height: 550px;
	position: absolute;
	right: 6%;
	top: 1200px;
}

.my-works {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	position: absolute;
	top: 2000px;
	left: 10%;
	color: white;
}

.works img {
	height: 250px;
	width: 400px;
	padding: 0%;
}

.works-arrow {
	position: absolute;
	top: 3110px;
	left: calc(10% - 150px);
}

.my-works-a {
	position: absolute;
	top: 3250px;
	left: 10%;
	color: #00adb5;
	transition: background-color ease .25s, color ease .25s;
}

.my-works-a:hover {
	color: #222831;
	background-color: #00adb5;
}

.works a {
	left: 10%;
	color: #00adb5;
	transition: background-color ease .25s, color ease .25s;
}

.works a:hover {
	color: #222831;
	background-color: #00adb5;
}


.works div {
	padding: 4px;
	margin-bottom: 10%;
	margin-right: auto;
	margin-left: 0px;
	width: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.works p {
	color: rgba(238, 238, 238, 0.75);
	font-size: 16px;
	padding: 3%;
}

.works {
	width: 33%;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;

	position: absolute;
	top: 2100px;
	left: 10%;
}

.works-doodles {
	z-index: -3;
	height: 1300px;
	width: 100%;
	left: 0px;
	position: absolute;
	top: 2000px;
}


.hr3 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 3300px;
	width: 100%;
	border-color: #373c44;
}

.contacts {
	justify-content: space-between;
	position: absolute;
	top: 3300px;
	font-size: 30px;
	left: 10%;
	color: white;
}

.contacts p {
	color: rgba(238, 238, 238, 0.75);
	font-size: 20px;
	margin-top: 5px;
	width: 50%;
}

.contacts-box {
	padding: 6px;
	width:50%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.hr4 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 4150px;
	width: 100%;
	border-color: #373c44;
}

@media (max-width: 1652px) {
	.hero-doodles {
		display:none;
	}
	.roblox-hero-logo {
		display:none;
	}
	.about-me-doodles {
		display:none;
	}
	.works-doodles {
		height: 1000px;
		position: absolute;
		top: 2000px;
	}
	.header {
		justify-content:none;
		padding: 3px;
	}
	.header-item {
		padding: 50px 10px;
		font-size: 14px;
	}

	.about-me {
		position: absolute;
		top: 1000px;
		color: white;
	}

	.skills div {
		margin-right: 5%;
	}

	.works-arrow {
		position: absolute;
		top: 2750px;
		left: calc(10% - 150px);
	}

	.my-works-a {
		position: absolute;
		top: 2900px;
		left: 10%;
		color: #00adb5;
		transition: background-color ease .25s, color ease .25s;
	}

	.my-works-a:hover {
		color: #222831;
		background-color: #00adb5;
	}

	.works {
		max-width: none;
		width: 100%;
		left: 0;
		display: flex;
		flex-wrap: wrap;
		margin-top: 100px;
	}

	.works div {
		margin-right: auto;
		margin-left: auto;
		height: 600px;
		width : 400px;
	}

	.hr3 {
		position: absolute;
		top: 3000px
	}

	.contacts {
		position absolute;
		top: 3000px;
	}

	.hr4 {
		position absolute;
		top: 4000px;
	}
}
@media (max-width: 860px) {
	.hero-title {
		font-size: 40px;
		margin-top: 100px;
	}
	.about-me-text {
		margin-top: 100px;
		width: 470px;
	}

	.skills div {
		margin-top: 100px;
		margin-right: 10px;
	}
	
	.my-works {
		margin-top: 140px;
	}
}
