* {margin: 0; padding:0;}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	background-color: #222831;
	font-family: Poppins;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.header {
	background-color: rgba(34, 40, 49, .6);
	border-style: none none solid none;
	border-width: 1px;
	border-color: #373c44;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	backdrop-filter: blur(10px);
}

.header-section {
	display: flex;
	align-items: center;
	margin: 0% 8%;
}

.header-item {
	display: inline-grid;
	padding: 50px 24px;
	font-size: 18px;
	font-weight: 400;
}

.header-logo {
	font-weight: 700;
}

.header-button a {
	transition: color ease .5s;
}

.header-button a:hover {
	color: #00adb5;
}

.scroll-arrow {
	position: fixed;
	left: 7%;
	bottom: 7%;
	backdrop-filter: blur(10px);
}

.hero-title {
	/*position: absolute;*/
	padding-left: 13%;
	padding-top: 18%;
	font-size: 360%;
}

.dev {
	position: inherit;
	line-height: 10px;
}

.hireme-button a {
	font-weight: 700;
	font-size: 20px;
	border-radius: 30px;
	padding:14px;
	background-color:#00adb5;
	color:#FFFFFF;
	transition: box-shadow ease 0.5s;
}

.hireme-button a:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
}

.hireme-button {
	margin-top: 30px;
	margin-left: 10px;
}

.hero-arrow {
	position: absolute;
	left: 9%;
	top: 41%;
}

.hero-doodles {
	position: absolute;
	right: 10%;
	top: 250px;
}

.roblox-hero-logo {
	position: absolute;
	right: 10%;
	top: 250px;
	width: 500px;
	height: 500px;
}

.hr1 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 1000px;
	width: 100%;
	border-color: #373c44;
}

.hr2 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 2000px;
	width: 100%;
	border-color: #373c44;
}

.about-me {
	font-family: poppins;
	font-size: 30px;
	display: flex;
	position: absolute;
	top: 1200px;
	left: 10%;
	color: white;
}

.about-me-text {
	color: rgba(238, 238, 238, 0.75);
	font-size: 20px;
	margin-top: 5%;
	width: 40%;
	position: absolute;
	top: 1250px;
	left: 10%;
}

.skills {
	display: flex;
	position: absolute;
	top: 500px;
}

.skills p {
	width: 200px;
	padding: 10px;
	font-weight: 400;
	font-size: 24px;
}

.skills div {
	padding: 4px;
	margin-right: 20%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.about-me-doodles {
	margin-top: -10%;
	position: absolute;
	right: 10%;
	top: 1500px;
}

.my-works {
	margin-top: 15%;
	font-family: poppins;
	font-size: 30px;
	position: absolute;
	top: 1900px;
	left: 10%;
	color: white;
}

.works img {
	height: 250px;
	width: 400px;
	padding: 0%;
}

.works a {
	color: #00adb5;
	transition: background-color ease .25s, color ease .25s;
}

.works a:hover {
	color: #222831;
	background-color: #00adb5;
}

.works div {
	padding: 4px;
	margin-bottom: 10%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.works p {
	color: rgba(238, 238, 238, 0.75);
	font-size: 16px;
	padding: 3%;
}

.works {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	/*position: absolute;
	top: 320%;
	left: 20%;*/
}

.works-doodles {
	position: absolute;
	right: 10%;
	top: 2300px
}


.hr3 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 3350px;
	width: 100%;
	border-color: #373c44;
}

.contacts {
	justify-content: space-between;
	position: absolute;
	top: 3350px;
	font-size: 30px;
	left: 10%;
	color: white;
}

.contacts p {
	color: rgba(238, 238, 238, 0.75);
	font-size: 20px;
	margin-top: 5px;
	width: 50%;
}

.contacts-box {
	padding: 6px;
	width:50%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.hr4 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 4205px;
	width: 100%;
	border-color: #373c44;
}


@media (max-width: 1592px) {
	.hero-doodles {
		display:none;
	}
	.hero-arrow {
		display:none;
	}
	.roblox-hero-logo {
		display:none;
	}
	.about-me-doodles {
		display:none;
	}
	.works-doodles {
		display:none;
	}
	.header {
		justify-content:none;
		padding: 3px;
	}
	.header-item {
		padding: 50px 10px;
		font-size: 14px;
	}
}

@media (max-width: 860px) {
	.hero-title {
		font-size: 40px;
		margin-top: 100px;
	}
	.about-me-text {
		margin-top: 100px;
		width: 470px;
	}

	.skills div {
		margin-top: 100px;
		margin-right: 10px;
	}
	
	.my-works {
		margin-top: 300px;
	}
}
