* {margin: 0; padding:0;}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	background-color: #222831;
	font-family: 'Inconsolata', sans-serif;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.header {
	background-color: rgba(34, 40, 49, .6);
	border-style: none none solid none;
	border-width: 1px;
	border-color: #373c44;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	backdrop-filter: blur(10px);
}

.header-section {
	display: flex;
	align-items: center;
	margin: 0% 8%;
}

.header-item {
	display: inline-grid;
	padding: 20px 24px;
	font-size: 18px;
	font-weight: 400;
}

.header-logo {
	font-weight: 700;
	position: absolute;
	left: 10%;
}

.header-button a {
	transition: color ease .5s;
}

.header-button a:hover {
	color: #00adb5;
}

.scroll-arrow {
	position: fixed;
	left: 7%;
	bottom: 7%;
	backdrop-filter: blur(10px);
}

.hero-wrapper {
	position: static;
	margin-top: 80px;

	height: auto;
	width: calc(100% - 2px);

	border-style: solid;
	border-width: 1px;
	border-color: #373c44;
}

.hero-title {
	position: inherit;
	margin-left: 100px;
	margin-top: 200px;
	font-size: 360%;
}

.dev {
	position: inherit;
	line-height: 50px;
}

.hireme-button a {
	font-weight: 700;
	font-size: 20px;
	border-radius: 30px;
	padding:14px;
	background-color:#00adb5;
	color:#FFFFFF;
	transition: box-shadow ease 0.5s;
}

.hireme-button a:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
}

.hireme-button {
	margin-top: 30px;
	margin-left: 10px;
}

.hero-arrow {
	position: relative;
	right: 90px;
	top: -240px;
	width: 10%;
}

.roblox-hero-logo {
	position: absolute;
	right: 0px;
	top: 100px;
	width: 734px;
}

.about-me-wrapper {
	position: static;
	/*top: 1000px;*/

	height: fit;
	width: calc(100% - 2px);

	border-style: solid;
	border-width: 1px;
	border-color: #373c44;
}

.about-me {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 30px;
	color: white;
}

.about-me h1 {
	display: flex;
}

.about-me-text {
	color: rgba(238, 238, 238, 0.75);
	font-size: 20px;
	margin-top: 5%;
	width: 700px;
}

.skills {
	display: flex;
	margin-right: 5%;
	margin-top: 300px;
	margin-bottom: 100px;
}

.skills p {
	width: 200px;
	padding: 10px;
	font-weight: 400;
	font-size: 24px;
}

.skills div {
	padding: 4px;
	margin-right: 20%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.about-me-doodles {
	position: absolute;
	top: 1000px;
	height: 550px;
	left: calc(100% - 750px);
}

.my-works {
	margin-left: 5%;
	margin-top: 5%;
	color: white;
}

.works img {
	height: 250px;
	width: 400px;
	padding: 0%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
}

.works iframe {
	padding: 0%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
}

.my-works-a {
	color: #00adb5;
	transition: background-color ease .25s, color ease .25s;
}

.my-works-a:hover {
	color: #222831;
	background-color: #00adb5;
}

.works-wrapper {
	/*position: absolute;
	top: 2006px;*/

	background: url(./svg/about-me-doodles.svg);

	width: calc(100% - 2px);
	height: auto;

	border-style: solid;
	border-width: 1px;
	border-color: #373c44;
}

.works a {
	left: 10%;
	color: #00adb5;
	transition: background-color ease .25s, color ease .25s;
}

.works a:hover {
	color: #222831;
	background-color: #00adb5;
}


.works div {
	padding-right: 2px;
	margin-bottom: 10%;
	margin-right: 60px;
	margin-left: 0px;
	width: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(26, 27, 38, 0.90);
}

.works p {
	color: rgba(238, 238, 238, 0.75);
	font-size: 16px;
	padding: 3%;
}

.works {
	margin-left: 5%;
	width: 80%;
	display: flex;

	flex-wrap: wrap;
	margin-top: 100px;

}

.more-button a {
	font-weight: 700;
	font-size: 20px;
	border-radius: 30px;
	padding:14px;
	background-color:#00adb5;
	color:#FFFFFF;
	transition: box-shadow ease 0.5s;
}

.more-button a:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
}

.more-button {
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 50px;
}

.contacts-wrapper {
	position: static;

	height: fit;
	width: calc(100% - 2px);

	border-style: solid;
	border-width: 1px;
	border-color: #373c44;
}

.contacts {
	justify-content: space-between;
	/*position: absolute;*/
	font-size: 30px;
	margin-top: 10%;
	margin-bottom: 35%;
	margin-left: 5%;
	color: white;
}

.contacts p {
	color: rgba(238, 238, 238, 0.75);
	font-size: 20px;
	margin-top: 5px;
	width: 50%;
}

.contacts-box {
	padding: 6px;
	width:50%;
	border-style: solid;
	border-width: 1px;
	border-color: #00adb5;
	background-color: rgba(57, 62, 70, 0.50);
}

.hr4 {
	border-style: none none solid none;
	position: absolute;
	left: 0px;
	top: 4150px;
	width: 100%;
	border-color: #373c44;
}

@media (max-width: 1500px) {
	.about-me-doodles {
		display: none;
	}
}

@media (max-width: 1300px) {
	.roblox-hero-logo {
		display: none;
	}
}